.gamestart-button {
  display: flex;
  justify-content: center;
}
body .gametimer {
  display: flex;
  justify-content: right;
}
.btn-group button {
  background-color: rgb(61, 61, 112);
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 50%;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}

.btn-group button:hover {
  background-color: #3e8e41;
}

.btn-group {
  display: none;
}

.gametimer {
  display: none;
}
